.jim
{
   margin-top: 60px;
   margin-left: 25px;
}
.sim{
     color:blue;
}
.rik{

   background-color:rgb(214, 196, 182) ;

}
.rif{

  margin-top:10px;
}
.faiz{
  padding-right: 20px;
}
.abc{

   text-align: center;
}
.cbc{
  height: 20px;
}
.responsive{

  width: 600px;
  height: auto;
}
